<div class="page-header">
	<h1>Report</h1>
</div>
<div class="row">
	<h3>Statistics:</h3>
	<label class="col-sm-2">Average Distance:</label>
	<div class="col-sm-10">
		<%= @average_distance %> m
	</div>
</div>
<div class="row">
	<label class="col-sm-2">Average Speed:</label>
	<div class="col-sm-10">
		<%= @average_speed %> m/s
	</div>
</div>
<div class="row">
	<h3>Transportation Modes</h3>
	<div class="column">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mode</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<% @modes.each do |mode, count| %>
				<tr>
					<td><%= mode %></td>
					<td><%= count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div id="chart-container"><%= @chart.render() %></div>
</div>
