<div class="page-header">
  <h1>User Report</h1>
</div>
<div class="row">
  <h3>Statistics:</h3>
  <div id="report_accordion">
    <% @trips.each do |trip| %>
      <h3>Trip <%= trip.id%></h3>
      <div>
        <table class="table">
          <tr>
            <th>Start Date</th>
            <td><%= trip.created_at.to_date %></td>
          </tr>
          <tr>
            <th>Travel Time</th>
            <td><%= travel_time(trip) %></td>
          </tr>
          <tr>
            <th>No. of Transfer Zones</th>
            <td>
              <%= trip.segments.length - 1%>
            </td>
          </tr>
          <tr>
            <th>Average Speed</th>
            <td>
              <%= (average_speed(trip.segments) * 3.6).round(2) %> km/h </td>
          </tr>
          <tr>
            <th>Distance</th>
            <td><%= (distance(trip.segments) / 1000).round(2) %> km </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$(function() {
  $("#report_accordion").accordion({
    collapsible: true,
    heightStyle: "fill"
  });
});
</script>