<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startLocation %><br>
    <%= f.text_field :startLocation %>
  </div>
  <div class="field">
    <%= f.label :endLocation %><br>
    <%= f.text_field :endLocation %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.text_field :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br>
    <%= f.text_field :endTime %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
