<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>

<table>
  <thead>
    <tr>
      <th>Startlocation</th>
      <th>Endlocation</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.startLocation %></td>
        <td><%= trip.endLocation %></td>
        <td><%= trip.startTime %></td>
        <td><%= trip.endTime %></td>
        <td><%= trip.user %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
