<h1>Trip</h1>
<div class="map-container">
  <div id="map"></div>
</div>

<br />

<% @trip.segments.each do |segment| %>
<p>Segment <%= @trip.segments.index(segment) + 1 %>
<%= link_to 'Edit', edit_trip_segment_path(@trip, segment), :class => 'button-p' %></p>
<table border="1">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Accuracy</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% segment.locations.each do |location| %>
    <tr>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= location.accuracy %></td>
      <td><%= location.time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<script type="text/javascript">
var coordinates = <%= raw @coordinates.to_json %>;
$(initMap());
</script>

<%= link_to 'Back', trips_path, :class => 'button-p' %>
