<h1>Trip</h1>
<div class="map-container">
  <div id="map"></div>
</div>

<br />

<table border="1">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Accuracy</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
    <tr>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= location.accuracy %></td>
      <td><%= location.time %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<script type="text/javascript">
var coordinates = <%= raw @coordinates.to_json %>;
$(initMap());
</script>

<%= link_to 'Edit', edit_trip_path(@trip), :class => 'button-p' %>
<%= link_to 'Back', trips_path, :class => 'button-p' %>
