<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_path, :class => "navbar-brand" do %>
			<strong>GPS Track</strong>
			<% end %>
		</div>
		<div class="collapse navbar-collapse">
			<% if user_signed_in? %>
			<ul class="nav navbar-nav">
				<li>
					<%= link_to trips_path do %>
					<i class="fa fa-suitcase"></i> Trips
					<% end %>
				</li>
				<% if current_user.try(:admin?) || current_user.try(:researcher?) %>
				<li>
					<%= link_to reports_path do %>
					<i class="fa fa-file-text"></i> Report
					<% end %>
				</li>
				<% end %>
				<% if current_user.try(:admin?) %>
				<li>
					<%= link_to users_path do %>
					<i class="fa fa-users"></i> Users
					<% end %>
				</li>
				<% end %>
			</ul>
			<% end %>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li>
					<%= link_to current_user do %>
					<i class="fa fa-user"></i> Profile
					<% end %>
				</li>
				<li>
					<%= link_to destroy_user_session_path, :method=>'delete' do %>
					<i class="fa fa-sign-out"></i> Sign out
					<% end %>
				</li>
				<% else %>
				<li>
					<%= link_to new_user_session_path do %>
					<i class="fa fa-sign-in"></i> Sign in
					<% end %>
				</li>
				<li>
					<%= link_to new_user_registration_path do %>
					<i class="fa fa-user-plus"></i> Sign up
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
<script>
	$(function() {
		$('a[href="' + this.location.pathname + '"]').parent().addClass('active');
	}); 
</script>
