<h1>Listing Locations</h1>

<table border="1">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Accuracy</th>
      <th>Speed</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |api_location| %>
      <tr>
        <td><%= api_location.latitude %></td>
        <td><%= api_location.longitude %></td>
        <td><%= api_location.accuracy %></td>
        <td><%= api_location.speed %></td>
        <td><%= api_location.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>